<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="false"
              extensions="css"
              icon="icons/page_white_swoosh.png"
              id="org.eclipse.fx.ide.css.CssDsl"
              name="%editor.name">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.eclipse.fx.ide.css.CssDsl.validate">
         <activeWhen>
            <reference
                    definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.eclipse.fx.ide.css.CssDsl" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="org.eclipse.fx.ide.ui"
              class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.eclipse.fx.ide.css.CssDsl"
              name="%page.name">
            <keywordReference id="org.eclipse.fx.ide.css.ui.keyword_CssDsl"/>
        </page>
        <page
            category="org.eclipse.fx.ide.css.CssDsl"
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.eclipse.fx.ide.css.CssDsl.coloring"
            name="%page.name.0">
            <keywordReference id="org.eclipse.fx.ide.css.ui.keyword_CssDsl"/>
        </page>
        <page
            category="org.eclipse.fx.ide.css.CssDsl"
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.eclipse.fx.ide.css.CssDsl.templates"
            name="%page.name.1">
            <keywordReference id="org.eclipse.fx.ide.css.ui.keyword_CssDsl"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.eclipse.fx.ide.css.ui.keyword_CssDsl"
            label="%keyword.label"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description"
            id="org.eclipse.fx.ide.css.CssDsl.validate"
            name="%command.name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.fx.ide.css.CssDsl.validate"
                 style="push"
                 tooltip="%command.tooltip">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="css">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="css">
        </resourceServiceProvider>
    </extension>


	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="%command.description.0"
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="%command.name.0">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="%command.tooltip.0">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.eclipse.fx.ide.css.CssDsl.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.eclipse.fx.ide.css.CssDsl.compare.contentViewers"
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="css">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.eclipse.fx.ide.css.CssDsl.compare.contentMergeViewers"
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="css" label="%viewer.label">
     </viewer>
  </extension>
  <!-- Remove because it breaks WTP CSS editor see ticket 223 -->
  <!--extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.eclipse.fx.ide.css.CssDsl.editors.documentProviders"
            class="org.eclipse.fx.ide.css.ui.CssDslExecutableExtensionFactory:org.eclipse.fx.ide.css.ui.editor.WTPCompatibleDocumentProvider"
            extensions="css">
    </provider>
  </extension-->
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.xtext.ui.editor.XtextEditor"
           class="org.eclipse.fx.ide.css.ui.internal.PreviewAdapterFactory">
        <adapter
              type="org.eclipse.fx.ide.ui.editor.IFXPreviewAdapter">
        </adapter>
     </factory>
  </extension>
  <extension
        id="preferences"
        name="preferences"
        point="org.eclipse.core.runtime.preferences">
     <scope
           class="org.eclipse.fx.ide.css.ui.CSSEditorScope"
           name="org.eclipse.fx.ide.css.ui.scope">
     </scope>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           category="org.eclipse.fx.ide.css.cssext.CssExtDsl"
           class="org.eclipse.fx.ide.css.ui.CSSEditorPropertyPage"
           id="org.eclipse.fx.ide.css.ui.CSSEditorPropertyPage"
           name="CSS Editor"
           selectionFilter="single">
        <enabledWhen>
              <and>
              	 <adapt
                       type="org.eclipse.core.resources.IResource">
                    <test
                          property="org.eclipse.core.resources.projectNature"
                          value="org.eclipse.fx.ide.css.nature">
                    </test>
                 </adapt>
                 <or>
                 <and>
                    <instanceof
                          value="org.eclipse.core.resources.IFile">
                    </instanceof>
                    <test
                          property="org.eclipse.core.resources.name"
                          value="*.css">
                    </test>
                 </and>
                 <adapt
                       type="org.eclipse.core.resources.IFolder">
                 </adapt>
                 <adapt
                       type="org.eclipse.core.resources.IProject">
                 </adapt>
                 </or>
                 
                 </and>
        </enabledWhen>
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
        <command
              commandId="org.eclipse.fx.ide.css.ui.addNature"
              label="Add CSS Editor Nature"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <not>
                 <adapt
                       type="org.eclipse.core.resources.IResource">
                    <test
                          property="org.eclipse.core.resources.projectNature"
                          value="org.eclipse.fx.ide.css.CSSEditorNature">
                    </test>
                 </adapt>
              </not>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.fx.ide.css.ui.removeNature"
              label="Remove CSS Editor Nature"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.projectNature"
                       value="org.eclipse.fx.ide.css.CSSEditorNature">
                 </test>
              </adapt>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.eclipse.fx.ide.css.ui.commands.AddCssEditorNature"
           id="org.eclipse.fx.ide.css.ui.addNature"
           name="Add CSSEditor Nature">
     </command>
     <command
           defaultHandler="org.eclipse.fx.ide.css.ui.commands.RemoveCssEditorNature"
           id="org.eclipse.fx.ide.css.ui.removeNature"
           name="Remove CSSEditor Nature">
     </command>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.core.resources.IResource"
           class="org.eclipse.fx.ide.css.ui.CssAdapterFactory">
        <adapter
              type="org.eclipse.fx.ide.css.ui.CssFile">
        </adapter>
     </factory>
  </extension>

</plugin>
