<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.eclipse.fx.ide.jdt.ui.internal.buildpath.JavaFXContainerWizardPage"
            id="org.eclipse.fx.ide.jdt.core.JAVAFX_CONTAINER"
            name="%classpathContainerPage.name">
      </classpathContainerPage>
      <classpathContainerPage
            class="org.eclipse.fx.ide.jdt.ui.internal.buildpath.MobileClasspathContainerPage"
            id="org.eclipse.fx.ide.jdt.core.MOBILE_CONTAINER"
            name="Mobile SDK">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.fx.ide"
            class="org.eclipse.fx.ide.jdt.ui.internal.wizard.JavaFXProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/application_lightning.png"
            id="org.eclipse.fx.ide.jdt.ui.javafx"
            name="%wizard.name"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.fx.ide"
            class="org.eclipse.fx.ide.jdt.ui.internal.wizard.JavaFXLibraryProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/application_lightning.png"
            id="org.eclipse.fx.ide.jdt.ui.javafx"
            name="%wizard.libname"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
      </wizard>
      <category
            id="org.eclipse.fx.ide"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.fx.ide/org.eclipse.fx.ide.clazz"
            class="org.eclipse.fx.ide.jdt.ui.internal.wizard.clazz.NewApplicationClassWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/toggle_breadcrumb.gif"
            id="org.eclipse.fx.ide.jdt.ui.newappclass"
            name="%wizard.name.0"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="false">
      </wizard>
      <wizard
            category="org.eclipse.fx.ide/org.eclipse.fx.ide.clazz"
            class="org.eclipse.fx.ide.jdt.ui.internal.wizard.clazz.NewPreloaderClassWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/history_working_set_obj.gif"
            id="org.eclipse.fx.ide.jdt.ui.newpreloader"
            name="%wizard.name.1"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="false">
      </wizard>
      <wizard
            category="org.eclipse.fx.ide"
            class="org.eclipse.fx.ide.jdt.ui.internal.wizard.clazz.NewHtmlTemplateWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/discovery.gif"
            id="org.eclipse.fx.ide.jdt.ui.newhtmltemplate"
            name="%wizard.name.2"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="false">
      </wizard>
      <category
            id="org.eclipse.fx.ide.clazz"
            name="%category.name.1"
            parentCategory="org.eclipse.fx.ide">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fx.ide.jdt.ui.internal.editors.JFXBuildConfigurationEditor"
            default="false"
            extensions="fxbuild"
            icon="icons/page_white_compressed.png"
            id="org.eclipse.fx.ide.jdt.ui.fxbuild"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.fx.ide.jdt.ui.internal.handler.RunBuildHandler"
            commandId="org.eclipse.fx.ide.jdt.ui.export">
         <enabledWhen>
            <or>
               <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.fxbuild">
                     </test>
                  </adapt>
               </iterate>
               <count
                     value="1">
               </count>
               </with>
               <with
				  variable="activeEditorId">
			   <equals
			      value="org.eclipse.fx.ide.jdt.ui.fxbuild">
               </equals>
            </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.fx.ide.jdt.ui.internal.handler.CreateAntHandler"
            commandId="org.eclipse.fx.ide.jdt.ui.generateAnt">
         <enabledWhen>
            <or>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.fxbuild">
                        </test>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.fx.ide.jdt.ui.fxbuild">
                  </equals>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.fx.ide.jdt.ui.internal.handler.AddFXBeanGetterSetterHandler"
            commandId="org.eclipse.fx.ide.jdt.ui.fxgettersetter">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.fx.ide.jdt.ui.export"
               icon="icons/application_lightning.png"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.fxbuild">
                        </test>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=codeGroup">
         <command
               commandId="org.eclipse.fx.ide.jdt.ui.fxgettersetter"
               label="Generate JavaFX Getters and Setters"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.fx.ide.jdt.ui.export"
            name="%command.name">
      </command>
      <command
            id="org.eclipse.fx.ide.jdt.ui.generateAnt"
            name="%command.name.0">
      </command>
      <command
            id="org.eclipse.fx.ide.jdt.ui.fxgettersetter"
            name="Generate JavaFX Getters and Setters">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.fx.ide"
            name="%category.name.0">
      </category>
   </extension>
   <extension
         id="id2"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.javaAllProposalCategory"
            class="org.eclipse.fx.ide.jdt.ui.internal.FXBeanJavaCompletionProposalComputer">
            <partition type="__dftl_partition_content_type"/>
            <partition
                  type="__java_string">
            </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.fx.ide.jdt.ui.internal.refactoring.JFXRenameParticipant"
            id="org.eclipse.fx.ide.jdt.ui.internal.refactoring.renameParticipant"
            name="rename">
            <enablement>
              <with variable="affectedNatures">
                <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"/>
                </iterate>
              </with>
            </enablement>
     </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.fx.ide.jdt.ui.internal.refactoring.JFXRenameFXGraphParticipant"
            id="org.eclipse.fx.ide.jdt.ui.internal.refactoring.renameFXGraphParticipant"
            name="rename fxgraph file">
            <enablement>
              <with variable="affectedNatures">
                <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"/>
                </iterate>
              </with>
            </enablement>
     </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.eclipse.fx.ide.jdt.ui.internal.refactoring.JFXMoveParticipant"
            id="org.eclipse.fx.ide.jdt.ui.internal.refactoring.moveParticipant"
            name="move">
         <enablement></enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.eclipse.fx.ide.jdt.ui.internal.refactoring.JFXMoveFXGraphParticipant"
            id="org.eclipse.fx.ide.jdt.ui.internal.refactoring.moveFXGraphParticipant"
            name="move fxgraph file">
         <enablement></enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="org.eclipse.fx.ide.jdt.ui.internal.refactoring.JFXDeleteParticipant"
            id="org.eclipse.fx.ide.jdt.ui.internal.refactoring.deleteParticipant"
            name="delete">
         <enablement></enablement>
      </deleteParticipant>
   </extension>
   <extension
      point="org.eclipse.help.contexts">
      <contexts
         file="helpcontext.xml">
      </contexts>
   </extension> 
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JavaFXAntTask -->
      <package
            uri="http://org.eclipse.fx.ide.jdt/1.0"
            class="org.eclipse.fx.ide.jdt.ui.internal.editors.model.anttasks.AntTasksPackage"
            genModel="model/JavaFXAntTask.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JavaFXAntTask -->
      <package
            uri="http://org.eclipse.fx.ide.jdt/parameters/1.0"
            class="org.eclipse.fx.ide.jdt.ui.internal.editors.model.anttasks.parameters.ParametersPackage"
            genModel="model/JavaFXAntTask.genmodel"/>
   </extension>
</plugin>
