/.NLSDslHighlightingCalculator.java._trace
/.NLSHighlightingCalculator.java._trace
/.NLSHighlightingConfiguration.java._trace
/.TokenToAttributeIdMapper.java._trace
/NLSHighlightingCalculator.java
/NLSHighlightingConfiguration.java
/TokenToAttributeIdMapper.java
/.NLSHighlightingCalculator.xtendbin
/.NLSHighlightingConfiguration.xtendbin
/.TokenToAttributeIdMapper.xtendbin
